---
import AdminLayout from "../../layouts/AdminLayout.astro";
import CommentManager from "../../components/vue/CommentManager.vue";
---

<AdminLayout title="Comments">
  <div class="admin-header">
    <h1>Comments</h1>
  </div>
  <CommentManager client:load />
</AdminLayout>
