---
export const prerender = false;
import AdminLayout from "../../layouts/AdminLayout.astro";
import UserManager from "../../components/vue/UserManager.vue";
import { t, initLocale } from "../../i18n/index";

initLocale(Astro.request);
---

<AdminLayout title={t("admin.users")}>
  <div class="admin-header">
    <h1>{t("admin.users")}</h1>
  </div>
  <UserManager client:load />
</AdminLayout>
