---
import AdminLayout from "../../layouts/AdminLayout.astro";
import UserManager from "../../components/vue/UserManager.vue";
---

<AdminLayout title="Users">
  <div class="admin-header">
    <h1>Users</h1>
  </div>
  <UserManager client:load />
</AdminLayout>
