---
export const prerender = false;
import AdminLayout from "../../../layouts/AdminLayout.astro";
import PostList from "../../../components/vue/PostList.vue";
import { t, initLocale } from "../../../i18n/index";

initLocale(Astro.request);
---

<AdminLayout title={t("admin.posts")}>
  <div class="admin-header">
    <h1>{t("admin.posts")}</h1>
    <a href="/admin/posts/new" class="btn btn-primary">{t("admin.newPost")}</a>
  </div>
  <PostList client:load />
</AdminLayout>
