---
import AdminLayout from "../../../layouts/AdminLayout.astro";
import PostList from "../../../components/vue/PostList.vue";
---

<AdminLayout title="Posts">
  <div class="admin-header">
    <h1>Posts</h1>
    <a href="/admin/posts/new" class="btn btn-primary">New Post</a>
  </div>
  <PostList client:load />
</AdminLayout>
